@(userName: String, event: Event, board: models.db.Board)(implicit session: play.api.mvc.Session, flash: Flash)

    @main(s"Welcome to MeetupBoards $userName") {

        <p>Witaj @userName!</p>
        <hr>
        <br/>
        <p>Szczegóły wydarzenia</p>
        <table border="1">
            <tr><td>Status</td><td>@event.status</td></tr>
            <tr><td>visibility</td><td>@event.visibility</td></tr>
            <tr><td>event_url</td><td>@event.event_url</td></tr>
            <tr><td>description</td><td>@event.description.replaceAll("</?p>", "")</td></tr>
            <tr><td>time</td><td>@event.time</td></tr>
            <tr><td>duration</td><td>@event.duration</td></tr>
            <tr><td>name</td><td>@event.name</td></tr>
            <tr><td>venue</td><td>@event.venue.address <br/> @event.venue.city <br/> @event.venue.country</td></tr>
        </table>
        <br/>
        <p>Tablica</p> <br/>
        <p>Właściciel @board.ownerName</p>
        <p>Komentarze: (wszystkich @board.comments.length)</p>
        <ul style="list-style: none;">
            @for(comment <- board.comments) {
                <hr>
                <li>
            Author: @comment.commenterName
                    <br/>
                    @comment.text
                 </li>
            }
            <hr>
        </ul>
        <form method="post" action='@routes.Boards.comment(board.boardId)'>
            <input type="text" name="text">
            <input type="hidden" name="commenterId" value='@session(OAuth2.ID_SESSION)'>
            <input type="hidden" name="commenterName" value='@session(OAuth2.NAME_SESSION)'>
            <input type="submit" value="Dodaj komentarz">
        </form>
    }
