@(boards: List[models.db.Board])(implicit session: play.api.mvc.Session, flash: Flash)

@main(s"Welcome to MeetupBoards ${session(OAuth2.NAME_SESSION)}") {

    <p>Tablice: </p>
    <ul style="list-style: none;">
    @for(board <- boards) {
        <li>
            <hr>
            Author: @board.ownerName
            <br/>
            @board.eventName
            <br/>
            <a href='@routes.Boards.info(board.boardId)'>link</a>
        </li>
        <hr>
        }

    </ul>

}
