@(server_url: String, customerKey: String, customerRedirectUri: String)(implicit session: play.api.mvc.Session, flash: Flash)

    @main("Welcome in MeetupBoards !") {

        <form action = "https://secure.meetup.com/oauth2/authorize" method = "get">
            <input type="hidden" name="client_id" value="@customerKey">
            <input type="hidden" name="response_type" value="code">
            <input type="hidden" name="scope" value="ageless">
            <input type="hidden" name="redirect_uri" value="@customerRedirectUri">
            <input type="submit" value="Login via meetup.com" />
        </form>
    }
