@(userName: String, events: Array[EventData])(implicit session: play.api.mvc.Session, flash: Flash)

    @main(s"Welcome to MeetupBoards $userName") {

        <p>Witaj @userName!</p>
        <br/> <br/>
        <p>Eventy w Twoich grupach<br/>wszystkich: @events.length</p>
        <ol>
        @for(event <- events) {
            <li>@event.name
            <form action='@routes.Boards.create(event.id)' method="post">
                <input type="hidden" name="eventName" value="@event.name">
                <input type="submit" value="Stwórz tablicę">
            </form>
            </li>
        }
        </ol>
    }
