@(user: models.db.User, userBoards: List[models.db.Board])(implicit session: play.api.mvc.Session, flash: Flash)

@main(s"Welcome to MeetupBoards ${session(OAuth2.NAME_SESSION)}") {

    <p>Witaj @session(OAuth2.NAME_SESSION)!</p>
    <hr>
    <br/>
    <p>Szczegóły użytkownika</p>
    <table border="1">
        <tr><td>Name</td><td>@user.name</td></tr>
        <tr><td>Miejsce</td><td>na więcej danych użytkownika ściągniętych z meetupa</td></tr>
    </table>
    <br/>
    <br/>
    <p>Tablice: </p>
    <ul style="list-style: none;">
    @for(board <- userBoards) {
        <li>
            <hr>
            @board.eventName <a href='@routes.Boards.info(board.boardId)'>link</a>
        </li>
        <hr>
        }
    </ul>
    <br/>
    <hr>
    <hr>

    <p>Śledzący<br/>wszystkich @user.followers.length</p>
    <ul>
    @for(follower <- user.followers) {
        <li>
            <a href='@routes.Users.info(follower.id)'>@follower.name</a>
        </li>
    }
    </ul>
    <hr>
    <hr>
    <form method="post" action='@routes.Users.follow(user.id)'>
        <input type="hidden" name="followerId" value='@session(OAuth2.ID_SESSION)'>
        <input type="hidden" name="followerName" value='@session(OAuth2.NAME_SESSION)'>
        <input type="submit" value="Śledź tego użytkownika">
    </form>
}
