@(users: List[models.db.User])(implicit session: play.api.mvc.Session, flash: Flash)

    @main(s"Welcome to MeetupBoards ${session(OAuth2.NAME_SESSION)}") {

        <p>Użytkownicy: </p>
        <ul style="list-style: none;">
        @for(user <- users) {
            <li>
                <hr>
                Nazwa: @user.name
                <br/>
                Śledzący: (wszystkich @user.followers.length)@for(follower <- user.followers) {
                <a href='@routes.Users.info(follower.id)'>@follower.name</a>,
            }
                <br/>
                <a href='@routes.Users.info(user.id)'>szeczegóły użytkownika</a>
            </li>
            <hr>
            }

        </ul>

    }
